.html{
    html{font-size:16px};
}

.center{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}

.face{
    background: #D58E58;
    border-radius: 5em;
    width: 12em;
    height: 16em;
}

.hair{
    position: absolute;
    background: black;
    border-radius: 4em 4em 0 0;
    width: 12em;
    height: 6em;
    overflow: hidden;    
}

.hair:after{
    content: "";
    display:inline;
    position: absolute;
	width: 0; 
	height: 0; 
    width: 0;
    top: 3em;
    right: 2em;
	height: 0;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	border-bottom: 4em solid #D58E58;
}

.eyes{
    position: relative;   
}

.eye:first-of-type{  
    display: inline-block;
    background: white;
    position: absolute;
    border-radius: 20em;
    width: 3em;
    height: 3em;
    left: 7em;    
}

.eye:last-of-type{   
    display:inline-block;
    background: white;
    position: absolute;
    border-radius: 20em;
    width: 3em;
    height: 3em;
    left: 2em;
}

.eye:before{
    content: "";
    display: block;
    width: 20%; 
    height: 20%; 
    border-radius: 22em; 
    background: black;;
    border-style: solid;
    border-color:saddlebrown;
    border-width: 70%;
    position: relative;
    left: 15%;
    top: 15%;
    color: black;
}

.eye:after{
    content:"";
    display: block;
    background: black;
    border-radius: 12em 0em 1em 1em  ;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 110%;
}

.nose{
    background: #D8BD98;
    border-radius: 9em;
    width: 2rem;
    height: 4rem;
    position: relative;
    top: 11rem;
}

.nose:before{
    content: "";
    display: block;
    width: 2em; 
    height: 50%; 
    border-radius: 22em; 
    background: #D8BD98;
    position: relative;
    left: 25%;
    top: 51%;   
}

.nose:after{
    content: "";
    display: block;
    width: 2em; 
    height: 50%; 
    border-radius: 22em; 
    background: #D8BD98;
    position: relative;
    right: 25%;
    top: 1%;
}


.mouth:before{
    content:"";
    display: block;
    position: relative;
    top: 3em;
    left: 20%;
    height: 2rem;
    width: 7rem;
    border-radius: 0% 0% 6em 6em;
    background:black;    
    overflow:hidden;
}

.mouth:after{
    content:"";
    display: block;
    position: relative;
    top: 2rem;
    left: 37%;
    height: 1em;
    width: 3em;
    border-radius: 120px 120px 0px 0px;
    background: red;
}

.shirt{
    position: relative;
	border-bottom: 100px solid blue;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
    top: 11em;
}

.shirt:after{
  display:inline;
  position: absolute;
  content:"";
  width: 0px;
  height: 0px;
  border-right: 40px solid transparent;
  border-top: 40px solid yellow;
  border-left: 40px solid yellow;
  border-bottom: 40px solid yellow;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px; 
  left: 10px;
  top: 10px;
}


