.face{
 background: #D58E58;
 border-radius: 100px;
 width: 200px;
 height: 250px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eyes{
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.eye::first-of-type{    
    right: -50px;
}

.eye::last-of-type{  
    left: 50px;
}

.hair{
    top: 200px;
    background: black;
    border-radius: 150px;
    width: 200px;
    height: 120px;
    overflow: hidden;
    
}